<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset = 'UTF-8'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
  <title>My Inventory</title>
{{!-- links here --}}
</head>

<body>
  <main>
    <header>
      <h1><a href = '/'>BGF</a></h1>
      <nav>
        {{#if logged_in}}
          <a href = '/inventory'>My Inventory</a>
          <button id = 'logout'>Logout</button>
        {{else}}
          <a href = '/login'>Login</a>
        {{/if}}
      </nav>
    </header>
    
    <section>
      <h2>My Boardgames</h2>
      <button class = 'btn-modal'>Add Game</button>
      {{#each boardgames as |boardgame|}}
        <div class = 'container bg-item'>
          <h3 class = 'bg-title'>{{boardgame.title}}</h3>
          <h3 class = 'bg-min'>{{boardgame.min}}</h3>
          <h3 class = 'bg-max'>{{boardgame.max}}</h3>
          <h3 class = 'bg-ttp'>{{boardgame.timeToPlay}}</h3>
        </div>
      {{/each}}

      {{!-- Add game modal --}}
      <div class = 'modal'>
        <div class = 'container modal-content'>
          <span class = 'close'>&times;</span>

          <input id = 'bg-title-new' type = 'text'>
          <input id = 'bg-min-new' type = 'text'>
          <input id = 'bg-max-new' type = 'text'>
          <input id = 'bg-ttp-new' type = 'text'>
        </div>
      </div>
    </section>
  </main>
</body>
</html>